* {
    text-align: center;
}

body {
    max-width: 680px;
    margin: 0 auto;
}

header {
    background-color: blue;
    color: white;
    display: block;
    height: 50px;
}

nav {
    background-color: green;
    display: block;
    height: 40px;
}

article {
    background-color: pink;
    color: white;
    max-width: 453px;
    display: block;
    height:200px;
}

section {
    background-color: brown;
    color: white;
    max-width: 453px;
    display: block;
    height: 75px;
}

aside {
    background-color: cyan;
    color: white;
    max-width: 266px;
    height: 200px;
}

footer {
    background-color: lime;
    color: white;
    height: 40px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration-color: white;
}


